/Lab week 1/build/
/Lab week2/dist/
/Lab week 3/nbproject/private/
/Lab week 2/nbproject/private/
/Lab week 3/build/
/Lab week 3/dist/
/Lab week 2/build/
/Lab week 4/nbproject/private/
/Lab week 4/build/
/Lab week 4/dist/
/Lab week 5/nbproject/private/
/Lab week 5/build/
/Lab week 5/dist/
/Lab week 6/nbproject/private/
/Lab week 6/build/
/Lab week 6/dist/
